html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.title {
  color: rgb(91, 10, 139);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toDo_list {
  border: 2px solid rgb(193, 148, 219);
  min-width: 300px;
  width: 60%;
  max-width: 1000px;
  border-radius: 4px;
  box-shadow: 20px 20px 20px -5px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  align-items: center;
  padding: 14px;
}

.inputField {
  width: 90%;
  height: 30px;
  padding: 0 0 0 7px;
  border: 2px solid rgb(193, 148, 219);
  margin: 0 14px 0 0;
}

.clearbtn {
  width: 100%;
  height: 40px;
  margin: 14px 0 0 0;
  border: none;
  cursor: pointer;
  background-color: rgb(95, 22, 144);
  color: #fff;
  outline: none;
  transition: 500ms ease-in-out;
}

.insert-btn {
  background-color: rgb(95, 22, 144);
  color: #fff;
  border: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: 500ms ease-in-out;
}

.insert-btn:hover,
.clearbtn:hover {
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  background-color: rgb(128, 0, 128);
}

.toDo_title {
  margin-top: 14px;
  padding: 0 14px;
}

.toDoContainer {
  list-style: none;
  padding: 0 14px;
  margin: 0;
}

.toDoContainer-li {
  display: flex;
  padding: 7px 0;
  border-bottom: 1px solid #aaa;
}

.toDoContainer-li:last-child {
  border-bottom: none;
  padding: 7px 0 0 0;
}

.toDoContainer-li-text {
  width: 190%;
  padding: 0 7px;
  background-color: #fff;
  border: none;
  color: black;
}

.toDoContainer-li-text:hover {
  background-color: #eee;
}

.toDoContainer-li-text:focus {
  background-color: #eee;
}

.trash-can {
  padding-right: 5px;
  cursor: pointer;
  text-decoration: none !important;
}

.completed {
  text-decoration: line-through;
}
