html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.title {
  color: rgb(91, 10, 139);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
}

.main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toDo_list {
  border: 2px solid rgb(193, 148, 219);
  min-width: 300px;
  width: 100%;
  max-width: 1000px;
  border-radius: 4px;
  box-shadow: 20px 20px 20px -5px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem 0;
}

.alert {
  color: rgb(209, 7, 7);
  font-weight: 800;
  text-align: center;
}

.inputField {
  width: 90%;
  height: 30px;
  padding: 0 0 0 7px;
  border: 2px solid rgb(193, 148, 219);
  margin: 0 14px 0 0;
}

.clearbtn {
  width: 100%;
  height: 40px;
  margin: 14px 0 0 0;
  border: none;
  cursor: pointer;
  background-color: rgb(95, 22, 144);
  color: #fff;
  outline: none;
  transition: 500ms ease-in-out;
}

.insert-btn {
  background-color: rgb(95, 22, 144);
  color: #fff;
  border: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: 500ms ease-in-out;
}

.insert-btn:hover,
.clearbtn:hover {
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  background-color: rgb(128, 0, 128);
}

.toDo_title {
  margin-top: 14px;
  padding: 0 14px;
}

.toDoContainer {
  list-style: none;
  padding: 0 14px;
  margin: 0;
}

.toDoContainer-li {
  display: flex;
  padding: 7px 0;
  border-bottom: 1px solid #aaa;
}

.toDoContainer-li:last-child {
  border-bottom: none;
  padding: 7px 0 0 0;
}

.toDoContainer-li-text {
  width: 190%;
  padding: 0 7px;
  background-color: #fff;
  border: none;
  color: black;
}

.toDoContainer-li-text:hover {
  background-color: #eee;
}

.toDoContainer-li-text:focus {
  background-color: #eee;
}

.trash-can {
  padding-right: 5px;
  cursor: pointer;
  text-decoration: none !important;
}

.completed {
  text-decoration: line-through;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-text-container {
  display: flex;
  margin: 0 10px;
}

.edit-trash-container {
  display: none;
}

.fa-ellipsis-vertical {
  /* display: none; */
}

.fa-ellipsis-vertical:hover {
  cursor: pointer;
}

#edit-btn {
  background-color: rgb(231, 169, 231);
  border: none;
  color: #000;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
}

#edit-btn:hover {
  cursor: pointer;
  color: #fff;
}

.fa-trash:hover {
  cursor: pointer;
}

.editable-list {
  padding: 5px;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: 1px solid rgb(231, 169, 231);
  background-color: rgb(235, 207, 235);
  outline: none;
  font-weight: 600;
}

/* Desktop Screen */

@media only screen and (min-width: 768px) {
  .toDo_list {
    width: 60%;
  }
}
